// typography
$base-font-size: 16;
$base-line-height: 3;

// colours

$black: #101820;
$grey: #697B95;
$blue-grey: #D2DCE8;
$light-grey: #fafafa;
$green: #76E691;
$dark-green: #53B16A;
$blue: #008fff;

//media queries
$main-bp: 794/16 * 1em;
$form-bp: 432/16 * 1em;
$gallery-bp: 394/16 * 1em;
$footer-bp: 664/16 * 1em;